%h1= "#{@user.firstname} #{@user.lastname}"
= "email: #{@user.email}"
%br= "last login: #{@user.last_sign_in_at}"
%h3= "Last rewievs"
- @user.reviews.limit(5).each do |rev|
 %table{:class => "table table-striped table-bordered"}
  %tr
   %td= "Product #{rev.product_id} rated #{rev.rating}/5 (#{rev.created_at.to_formatted_s(:dd_mm_yy)})"
  %tr
   %td= "#{rev.content}"
%p= link_to 'Back', :back, class: 'btn btn-primary'